body>div.md-container>footer>div>div>div:nth-child(1) {
    visibility: hidden;
}
.md-footer-copyright, .md-footer-social {
    padding: 0 0;
}
.md-footer__link {
    padding-top: 1rem;
}

.center-port {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: auto;
}